.center-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 150px; /* Adjust this to center properly in your dialog size */
}

.text-red-600 {
  color: #e53935 !important; /* Error message in red */
}

.mat-spinner {
  color: #28a745 !important; /* Green spinner */
}

mat-icon {
  animation: scaleUp 0.3s ease-in-out;
}
.primary-brown-button {
  background-color: #AF8F6F; /* The desired brown color */
  color: white; /* Set text color to white */
}
@keyframes scaleUp {
  from {
    transform: scale(0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
