<mat-toolbar class="mat-elevation-z8">
    <!-- Menu Toggle for Sidenav -->
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
  
    <!-- Title -->
    <span style="flex: 1">Receptionist Dashboard</span>
  
    <!-- Profile Icon with Logout -->
    <button mat-icon-button [matMenuTriggerFor]="profileMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span class="logout">Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  
  <!-- Sidenav and Content -->
  <mat-sidenav-container>
    <!-- Sidenav -->
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <!-- Navigation Links -->
      <button mat-button class="menu-button" routerLink="/receptionist/all-reservations">
        <span>Reservations</span>
      </button>
      <button mat-button class="menu-button" routerLink="/staff-schedules">
        <span>Staff</span>
      </button>
      <button mat-button class="menu-button" routerLink="/all-rooms">
        <span> Book Rooms</span>
      </button>
      <button mat-button class="menu-button" routerLink="/rooms-list">
        <span>Update Rooms</span>
      </button>
      <mat-divider></mat-divider>
  
      <button mat-button class="menu-button" routerLink="/receptionist/help">
        <span>Help</span>
      </button>
    </mat-sidenav>
  
    <!-- Main Content -->
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  