/* src/app/assigned-tasks/assigned-tasks.component.css */
.container {
    padding: 20px;
  }
  
  mat-table {
    width: 100%;
    margin-top: 20px;
  }
  
  button {
    margin-right: 10px;
  }
  .primary-brown-button {
    background-color: #AF8F6F; /* The desired brown color */
    color: white; /* Set text color to white */
  }

  