.primary-brown-button {
    background-color: #AF8F6F;
    color: white; 
  }

  mat-toolbar{
    background-color: #74512D;
    color: white;
  }

  span{
    color:#F8F4E1;
    font-size: medium;
  }
  mat-icon {
    margin-right: 8px;
    color: #F8F4E1;
  }