/* Container for the form */
.feedback-card {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Card Title */
  .feedback-card mat-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Form Controls */
  .feedback-card mat-form-field {
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
  }
  
  .feedback-card mat-form-field .mat-form-field-underline {
    display: none; /* Remove the underline */
  }
  
  .feedback-card mat-form-field .mat-form-field-label {
    font-weight: 500;
  }
  
  
  /* Textarea */
  .feedback-card textarea {
    resize: none;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
  }
  
  /* Submit Button */
  .feedback-card .text-center button {
    background-color: #8b5e34;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .feedback-card .text-center button:hover {
    background-color: #704727;
  }
  
  /* Responsive Adjustments */
  @media (max-width: 768px) {
    .feedback-card {
      padding: 15px;
    }
  }
  